REDIS_PASSWORD=supersecretpassword123
APP_ENV=production
APP_PORT=8002
REDIS_PORT=6379
REDIS_HOST=redis
API_URL=http://api:8080
FRONTEND_PORT=3000
REDIS_PASSWORD=1234

REDIS_CPU_LIMIT=0.50
REDIS_MEM_LIMIT=128M
API_CPU_LIMIT=1.00
API_MEM_LIMIT=256M
WORKER_CPU_LIMIT=1.00
WORKER_MEM_LIMIT=256M
FRONTEND_CPU_LIMIT=0.50
FRONTEND_MEM_LIMIT=128M

DEPLOY_HOST=server_hostname_or_ip_address
DEPLOY_USER=ubuntu
DEPLOY_SSH_KEY=private_key_contents
DEPLOY_PATH=deploy_path
REGISTRY_HOST=registy_host